body {
  margin: 0px;
}

.jumbotron {
  background: url("./img/mower_clipart.png");
  background-size: 50% 100%;
  color: #black;
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.w100 {
  font-weight: 100;
}

.container-quote {
  background-color: #D8D8D8;
  text-align: center;
}

.container-map {
  background-color: #f45113; /*Orange*/
  height: 400px;
}

.container-about {
  background-color: #D7D7D7; /* Grey */
  text-align: center;
  padding: 10px;
}

.container-mission {
  background-color: #ffffff; /* Grey */
  text-align: center;
  padding: 10px;
}
