<section>

  <div class="contact-intro">
    <h1> Have a question? <br> Let us help! <h1>
  </div>

  <div class="contact-input-box">
    <form>
      <h4> FIRST NAME </h4>
      <input class="contact-input-info" type="text"><br>
      <h4> LAST NAME </h4>
      <input class="contact-input-info" type="text"><br>
      <h4> ZIP CODE </h4>
      <input class="contact-input-info" type="text"><br>
      <h4> STREET ADDRESS </h4>
      <input class="contact-input-info" type="text"><br>
      <h4> EMAIL ADDRESS </h4>
      <input class="contact-input-info" type="text"><br>
      <h4> PHONE NUMBER </h4>
      <input class="contact-input-info" type="text"><br>
    </form>
  </div>

</section>
